@model KO.Models.CarModel
@{
    ViewBag.Title = "Observable Array - K.O.";
}
 <div id="ObservableArrayTab" class="contentDiv">
        <h4>Car Makes</h4>
        <div id="CarMakeSection" >
            


            <div id="InputSection">
                <div id="EditMakeInputSection" data-bind="with: selectedMake"> 
                    @Html.TextBoxFor(x => x.EditMakeName, 
                                            new { id="EditMakeInput", 
                                                  type="text", 
                                                  data_bind="value: Name"})
                    <button id="SaveButton">Save</button>
                </div>
                <div id="AddMakeInputSection"> 
                    @Html.TextBoxFor(x => x.AddMakeName,  
                                            new { id="AddMake", 
                                                type="text", 
                                                placeholder="Add New Make", 
                                                data_bind="value: newMakeToAdd",
                                                valueUpdate= "click"})
                    <button id="AddButton" data-bind="click: addNewMake">+ Add</button>
                </div>
            </div>

            <ul id="CarMakeList" data-bind="foreach: carMakes">
                <li data-bind="click: $parent.selectMake" >
                    <span class="carMakeListItem" data-bind="text: Name" ></span>
                    <div id="UpdateLinks">
                        <button class="itemEdit">Edit</button>
                        <button class="itemDelete">Delete</button>
                    </div>
                </li>
            </ul>
        </div>
 </div>
 
 <script src="@Url.Content("~/Scripts/ContentScripts/ObservableArray.js")" type="text/javascript"></script> 